.cards{
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  max-width: 300;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto;     
  justify-items: center;          
  gap: 10px;                             
}